<div class="h-3/6 flex flex-col md:flex-row">

    <!--LHS-->
  <div class="w-full md:w-1/2 bg-lightGrey rightWrapper leftWrapper py-[40px] md:py-[80px] text-darkGreen font-semibold">
      <h2>{{ col_1_title }}</h2>
      <p class="font-normal">{{ col_1_subtext }}</p>
      <ul class="mt-[10px] text-smallerTitle flex flex-col">
        {{ col_1_entries }}
        <a href="{{ url}}" class="py-[30px] relative group border-b-2 border-lightGreen hover:border-darkGreen transition">
          <p class="group-hover:ml-4 transition">{{ title }}</p>
          <div style="background-image: url({{ glide:page_thumbnail width='188' height='188' format='webp }}); background-repeat: no-repeat; background-position:center; background-size:cover;" class="opacity-0 group-hover:opacity-100 transition w-[188px] h-[188px] absolute z-50 -top-1/2 right-0 hidden lg:block">
          </div>
        </a>
        {{ /col_1_entries }}
      </ul>

      <div class="mt-[30px] w-full flex justify-end">
        <a href="{{ col_1_button_link }}" class="flex w-min items-center justify-end">
          <span class="text-1xs mr-2 w-max">{{ col_1_button_text }}</span>
          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
            </svg>
        </a>
      </div>

  </div>

  <!--RHS-->
  <div class="w-full md:w-1/2 bg-darkGreen rightWrapper leftWrapper py-[80px] text-white font-semibold">
      <h2>{{ col_2_title }}</h2>
      <p class="font-normal">{{ col_2_subtext }}</p>
      <ul class="mt-[10px] text-smallerTitle flex flex-col">
        {{ col_2_entries }}
        <a href="{{ url}}" class="py-[30px] relative group border-b-2 border-lightGreen hover:border-white transition">
          <p class="group-hover:ml-4 transition">{{ title }}</p>
          <div style="background-image: url({{ glide:page_thumbnail width='188' height='188' format='webp }}); background-repeat: no-repeat; background-position:center; background-size:cover;" class="opacity-0 group-hover:opacity-100 transition w-[188px] h-[188px] absolute z-50 -top-1/2 right-0 hidden lg:block">
          </div>
        </a>
        {{ /col_2_entries}}

      </ul>

      <div class="mt-[30px] w-full flex justify-end">
        <a href="{{ col_2_button_link }}" class="flex w-min items-center justify-end">
          <span class="text-1xs mr-2 w-max">{{ col_2_button_text }}</span>
          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#FFF"/>
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#FFF"/>
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
            </svg>
        </a>
      </div>

  </div>

</div>