<div class="lg:flex my-[80px] leftWrapper rightWrapper">
  
  <div class="bg-darkGreen p-[50px] lg:w-1/2 flex justify-center text-white">
    <div class="max-w-[548px]">
      <h4 class="text-medTitle mb-[10px]">{{ left_title }}</h4>
      <p>{{ left_text }}</p>
      <div class="w-full flex justify-end items-center mt-[10px]">
        <a href="{{ left_button_link }}" class="flex items-center">
          <span class="mr-2">{{ left_button_text }}</span>
          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#FFF" />
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z"
              fill="#FFF" />
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E" />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-lightGreen p-[50px] lg:w-1/2 flex justify-center text-darkGreen">
    <div class="max-w-[548px]">
      <h4 class="text-medTitle mb-[10px]">{{ right_title }}</h4>
      <p>{{ right_text }}</p>
      <div class="w-full flex justify-end items-center mt-[10px]">
        <a href="{{ right_button_link }}" class="flex items-center">
          <span class="mr-2">{{ right_button_text }}</span>
          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816" />
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z"
              fill="#002816" />
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#FFF" />
          </svg>
        </a>
      </div>
    </div>
  </div>

</div>