
  <div class="rightWrapper leftWrapper lg:flex justify-between my-[120px]">

    <div class="flex items-center mb-[20px] lg:mb-0">
      <div class=" flex items-center">
        <span class=" mr-2">Awards</span>
        <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[120px]  h-[1px]">       </span>
      </div>
      
    </div>


      <div class="lg:ml-[40px] justify-between w-full flex flex-wrap gap-x-[40px]">

        {{ company_details:awards }}
        {{ logo }}
        <div class="award flex justify-center items-center mt-4">
          <img class="max-w-[182px] max-h-[124px] border-b border-lightGreen pb-[30px] object-contain" src="{{ glide:url format='webp' }}" alt="">
        </div>
        {{ /logo }}
        {{ /company_details:awards }}

      </div>


</div>
