<svg  width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M60 24.429H0V25.429H60V24.429Z" fill="#FFF" />
  <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z"
    fill="#FFF" />
  <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E" />
</svg>