<div
  style="background-image: url(/assets/logos/greenBg.jpg); background-repeat:no-repeat; background-size: 100% 314px; background-position:bottom;"
  class="lg:h-[calc(100vh-120px)] flex  pb-[80px] relative">

  <div class="flex flex-col lg:flex-row w-full lg:h-[calc(100vh-80px-120px)]">

    <div
      class="w-full py-[40px] lg:py-0 lg:w-1/2 h-full bg-darkGreen flex flex-col justify-center pr-[40px] lg:pr-[80px] pl-[40px] xl:pl-[120px] relative">
      <div class="flex mb-4 items-center">

        <span class="mr-2 text-white">Contact</span>

        <span
          style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 2px; background-repeat: no-repeat;"
          class="w-[60px]  h-[1px]">       </span>

        <!--FORM ERROR MSG-->
        <div class="pleaseCheckMsg w-full hidden absolute bottom-0 left-0 text-center">
          <small class="text-red-500">*Please check all fields are filled out and you have
            completed the Captcha below.</small>
        </div>
        <!--FORM ERROR MSG-->

      </div>

      <h4 class="text-white text-title getInTouchMsg">Get in touch</h4>

      <!--FORM THANK YOU MSG-->
      <div class="md:h-[calc(100vh-420px)] thankYouMsg hidden justify-center items-center">
        <h4 class=" text-white text-center">Thank you for your enquiry. <br> We'll get back to you shortly</h4>
      </div>
      <!--FORM THANK YOU MSG-->


      <!--LOADING GIF-->
      <div class="md:h-[calc(100vh-420px)] loadingGif hidden items-center justify-center text-white">
        <img class="h-[25px] w-[25px]" src="/assets/icons/loadingGif.gif" alt="">
      </div>
      <!--LOADING GIF-->


      {{ form:contact id="contactForm" }}
      <div class="contactForm flex flex-col items-stretch h-full md:h-[calc(100vh-420px)] text-white">

        <div class="">

          <div class="flex gap-x-[20px] ">
            <input name="first_name" required type="text" placeholder="* First Name"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
            <input name="surname" required type="text" placeholder="* Surname"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
          </div>

          <div class="flex gap-x-[20px]">
            <input name="phone" type="text" placeholder="Phone"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
            <input name="email" required type="email" placeholder="* Email"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
          </div>

          <div class="flex gap-x-[20px]">
            <input name="company" type="text" placeholder="Company"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">

          </div>

        </div>

        <div class="flex-1 lg:h-2/5">
          <textarea name="message" required placeholder="* Message"
            class="w-full h-full bg-transparent border-b border-opacity-30 p-[20px]"></textarea>
        </div>

        <div class="flex flex-col md:flex-row items-center justify-between mt-8">

          <div class="mb-2 md:mb-0">{{ captcha }}</div>

          <button class="flex flex-col items-end mt-[10px]">
            <div class="flex justify-end items-center mb-[8px]">
              <p class="mr-2">Send</p>
              <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 24.429H0V25.429H60V24.429Z" fill="#FFF" />
                <path
                  d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z"
                  fill="#FFF" />
                <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E" />
              </svg>
            </div>
          </button>

        </div>

      </div>
      {{ /form:contact }}

    </div>

    <div
      style="background-image: url('{{ glide src='/assets/placeholders/map2.png'  }}'); background-repeat: no-repeat; background-size: cover; background-position:center;"
      class="w-full lg:w-1/2 h-full flex items-center lg:items-end justify-center">
      <div class="bg-white p-[50px] lg:mb-[48px]">
        <h6 class="mb-[10px]">{{ company_details:company_name }}</h6>
        <p class="mb-[10px]">{{ company_details:address }}</p>
        <a href="https://google.com/maps/place/{{ company_details:address }}" target="_blank"
          class="text-greenText hover:text-lightGreen transition">Open in Google Maps</a>
        <p class="font-semibold mt-[20px] mb-[10px]">Hours</p>
        <ul class="flex flex-col gap-y-[10px]">
          {{ company_details:opening_hours }}
          <li><span class="mr-2">{{ day }}</span><span>{{ hours }}</span></li>
          {{ /company_details:opening_hours }}
        </ul>
      </div>

    </div>

  </div>

  <div class="hidden lg:flex flex-col items-center justify-end w-[120px] ">
    <div class="min-w-max transform rotate-90 w-full awardWinningHeightFixer flex  items-center ">
      <span class="min-w-max mr-2">Award Winning</span>
      <span
        style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;"
        class="w-[60px]  h-[1px]">       </span>
    </div>
    <div class="w-[120px] flex flex-1  pb-[80px]"></div>
  </div>

</div>


<script type="text/javascript">

  /*AJAX FORM SUBMISSION (FORM MUST BE GIVEN AN ID)*/
  $(function () {
    var form = $('#contactForm');

    $(form).submit(function (event) {
      event.preventDefault();

      var formData = $(form).serialize();

      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        data: formData
      }).done(function (response) {
        console.log('Form submitted!');

        $(".contactForm").addClass('hidden');
        $(".getInTouchMsg").addClass('hidden');
        $(".loadingGif").addClass('flex').removeClass('hidden');
        $(".pleaseCheckMsg").addClass('hidden').removeClass('block');




        setTimeout(function () {
          $('.thankYouMsg').removeClass('hidden').addClass('flex');
          $(".loadingGif").removeClass('flex').addClass('hidden');

        }, 2000);


      }).fail(function (data) {
        console.log('Form NOT submitted!');
        $(".pleaseCheckMsg").addClass('block').removeClass('hidden');
      });
    });
  });
  /*END OF // AJAX FORM SUBMISSION*/


</script>