<div class="flex justify-center text-white">
  <div class="flex flex-col items-center md:items-stretch md:flex-row flex-1 bg-darkGreen  py-[40px] lg:py-[80px] px-[40px] lg:px-[120px]">

    <div class="min-w-[130px] max-w-[130px] max-h-[130px] min-h-[130px] bg-lightGreen rounded-full flex justify-center items-center p-[10px] mb-[20px] md:mb-0">
      <div
        style="background-image: url('{{glide:company_details:image width='110' height='110' format='webp'}}'); background-repeat:no-repeat; background-position:center; background-size:cover"
        class="h-full w-full rounded-full">
      </div>
    </div>

    <div class="md:ml-[40px] md:w-7/12 max-w-[697px]">
      <h2 class="lg:leading-fortyfive text-smallerTitle lg:text-medTitle mb-[20px] md:mb-[10px] text-center md:text-left">{{ company_details:cta_title }}
      </h2>
      <p class="text-1xs text-center md:text-left">{{ company_details:cta_text }}</p>
    </div>

    <div class="flex flex-col ml-4 flex-1 justify-center items-end mt-[40px] md:mt-0">
      <a href="{{ company_details:cta_button_link }}" class="flex flex-col items-end">
        <div class="flex justify-end items-center mb-[8px]">
          <p class="mr-2">{{ company_details:cta_button_text }}</p>
          {{ partial:components/buttonArrowLight }}
        </div>
      </a>
      <div>
        <a href="{{ company_details:cta_subtext_link }}">
          <small class="opacity-50 text-3xs hover:opacity-100 transition">{{ company_details:cta_subtext }}</small>
        </a>
      </div>
    </div>

  </div>

  <div class="hidden lg:block w-[120px]">
    <div class="h-1/2"></div>
    <div class="h-1/2 bg-lightGreen"></div>
  </div>

</div>

<div class="w-full h-[80px] bg-lightGreen"></div>