{{ partial:components/cta }}

<div class="rightWrapper leftWrapper py-[20px] md:py-[80px] flex flex-col md:flex-row justify-center items-center">
  <div class="w-full md:w-2/3 flex flex-col">
    <ul class="flex flex-col md:flex-row items-center gay-y-[10px] gap-x-[20px] font-semibold text-1xs mb-[20px]">
      <li>
        <a href="/">Home</a>
      </li>
      {{ nav:main_nav }}
      <li>
        <a href="{{ url }}" class="border-b-2 border-lightGreen hover:opacity-50 transition {{ if is_current || is_parent }}border-opacity-100{{ else }}border-opacity-0{{ /if }}">{{ title }}</a>
      </li>
      {{ /nav:main_nav }}

      
    </ul>
    <div class="text-3xs opacity-50 text-center md:text-left">
      <p>&copy; {{ now format="Y" }} {{ company_details:company_name }}, all rights reserved. | <a href="/terms">Terms, Privacy and Cookie Policy | </a> Website by <a href="https://www.reflex-studios.com" target="_blank" class="hover:text-pink-500 transition"> Reflex Studios</a></p>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row flex-1 items-center md:items-stretch justify-center md:justify-end mt-[20px] md:mt-0">

      <div class="flex items-center mt-[20px] md:mt-0">
        <a href="{{ company_details:facebook }}" target="_blank" class="button center border mr-[10px]">
          <img class="" src="/assets/icons/facebook.svg" alt=""/>
        </a>
        <a href="{{ company_details:twitter }}" target="_blank" class="button center border mr-[10px]">
          <img class="" src="/assets/icons/twitter.svg" alt=""/>
        </a>
      </div>
      
    <a href="tel:{{ company_details:phone }}" class="button center border flex items-center min-w-max rounded-full px-[22px] py-[14px]">
      <img class="mr-[10px]" src="/assets/icons/phone.svg" alt="">
      <span>{{ company_details:phone }}</span>
    </a>

  </div>
</div>