<div class="flex flex-col leftWrapper rightWrapper mt-[80px] mb-[60px]">
  <div class="flex mb-4 items-center">
    <span class=" mr-2">{{ slug | ucfirst}}</span>
    <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 2px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
  </div>
  <div class="w-10/12">
    <h2 class="text-smallerTitle md:text-title md:leading-sixtytwo mb-4">{{ title }}</h2>
  </div>
</div>


