
{{ nav:collection:jobs }}
<div class="rightWrapper leftWrapper text-darkGreen">
  <div class="flex flex-col navBreak1:flex-row bg-fadedGreen p-[40px] md:p-[60px] mb-[60px]">
  
    <div class="w-full navBreak1:w-1/2 px-[4px]">
      <small class="text-greenText">Posted on {{ date }}</small>
      <h4 class="text-smallerTitle mt-[10px]">{{ title }}</h4>
      <div class="jobCard flex flex-col gap-y-[20px] mt-[20px]">
        <div class="jobList">
          <h6>Description</h6>
          {{ description }}
        </div>

        {{ if essential_criteria }}
        <div class="jobList">
          <h6>Essential Criteria</h6>
          
            {{ essential_criteria }}
          
        </div>
        {{ /if }}

        {{ if desirable_criteria }}
        <div class="jobList">
          <h6 >Desirable Criteria</h6>
          
            {{ desirable_criteria }}
          
        </div>
        {{ /if }}
        {{ if salary }}
        <div>
          <h6>Salary</h6>
          <p>{{ salary }}</p>
        </div>
        {{ /if }}
      </div>
    </div>
  
    <div class="w-full navBreak1:w-1/2 mt-[40px] navBreak1:mt-0 px-[4px] flex flex-col justify-between">

      
      <ul class="flex items-center md:items-stretch flex-col gap-y-[5px] navBreak1:items-end">
        {{ if job_tags }}
        {{ job_tags }}
        <li class="rounded-full px-[15px] py-[5px] bg-mediumGreen bg-opacity-25 w-max">{{ job_tag }}</li>
        {{ /job_tags }}
        {{ /if }}
      </ul>

      <div class="flex mt-[40px] navBreak1:mt-0 flex-col flex-wrap md:items-end">

        {{ if apply_link}}

        <a href="{{ apply_link }}" target="_blank" class="flex flex-col md:flex-row items-center justify-center group">

          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
            </svg>

            <span class="ml-2 w-max font-semibold"> Apply for position</span>


      </a>
        {{ else }}


        <a href="mailto:{{ company_details:email }}?subject=Application for {{ title }} position." target="_blank" class="flex flex-col md:flex-row items-center justify-center group">

          <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
            <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
            <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
            </svg>
            <span class="ml-2 w-max font-semibold">Send your CV to </span>
            <span class="text-greenText font-semibold group-hover:text-lightGreen transition">{{ company_details:email }}</span>
    

      </a>
        {{/if}}


      </div>
    </div>
  
  </div>
</div>
{{ /nav:collection:jobs }}

