<div style="background-image: url(/assets/logos/greenBg.jpg); background-repeat:no-repeat; background-size: 100% 314px; background-position:bottom;" class="h-[calc(100vh-120px)] min-h-[680px]  flex pb-[80px] relative">

  <div style="background-image: url({{ background_image }}{{ glide:url width='1409' height='445' format='webp' }}{{ /background_image }}); background-repeat:no-repeat; background-size:cover; background-position:center;" class="flex w-full h-[calc(100vh-200px)] min-h-[600px]">
    <div class="bg-anotherGreen mix-blend-hard-light w-4/12 h-full"></div>
    <div class="flex-1 h-full"></div>
  </div>
  
  <div class="hidden md:flex flex-col items-center justify-end w-[120px] ">
      <div class="min-w-max transform rotate-90 w-full awardWinningHeightFixer flex  items-center ">
        <span class="min-w-max mr-2">Award Winning</span>
        <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
      </div>
      <div class="w-[120px] flex flex-1  pb-[80px]"></div>
  </div>

  <div class="top-0 absolute flex items-center w-screen h-[calc(100vh-120px)] min-h-[680px] pb-[80px]">
    <div class="pl-[40px] pr-[40px] md:pr-0 md:pl-[120px] md:w-7/12 text-white">
      <h1 class="mb-[30px]">{{ title }}</h1>
      <div class="text-subtitle leading-thirtyone ">{{ subtext }}</div>
      <div class="mt-[30px] flex">
        {{ if button_1_text }}
        <a href="{{ button_1_link }}" class="flex w-min items-center justify-end group overflow">
          <span class="text-1xs mr-2 w-max text-white">{{ button_1_text }}</span>
          {{ partial:components/buttonArrowLight }}
        </a>
        {{ /if }}
        {{ if button_2_text }}
        <a href="{{ button_2_link }}" class="flex w-min items-center group justify-end ml-[30px]">
          <span class="text-1xs mr-2 w-max text-white">{{ button_2_text }}</span>
          {{ partial:components/buttonArrowLight }}
        </a>
        {{ /if }}
      </div>
    </div>
    
  </div>

</div>