<div class="leftWrapper rightWrapper w-full my-[80px]">
  <div class="lg:pl-[120px] w-full">
    <ul class="lg:pl-[120px]">

      {{ entries }}
      <li class="pb-[20px] mt-[20px] border-b border-lightGreen hover:border-anotherGreen transition group">
        <a href="{{ url }}" class="flex flex-col md:flex-row">
          <div style="background-image: url({{ if page_thumbnail }}{{ page_thumbnail }}{{ glide:url width='1409' height='445' format='webp' }}{{ /page_thumbnail }}{{ else }}'/assets/logos/reconLogo.png'{{ /if }}); background-repeat:no-repeat; background-position:center; background-size:cover" class="min-w-[180px] h-[200px] md:h-[120px]"></div>
          <div class="flex flex-col sm:flex-row w-full justify-between items-center group-hover:ml-2 transition">
            <div class="md:ml-[30px] flex flex-1 flex-col justify-center">
              <h5 class="text-smallerTitle mt-4 md:mt-0">{{ title }}</h5>
              <p>{{ short_page_description }}</p>
            </div>
            <div class="flex w-full sm:w-20  justify-end md:items-center md:justify-center mt-4 md:mt-0 md:ml-4">
              <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
                <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
                <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
                </svg>
            </div>
          </div>
        </a>
      </li>
      {{ /entries }}
      

      

    </ul>
  </div>
</div>