<div class="mx-[20px] my-[10px] flex">

  <a href="/"class="w-5/12">
    <img width="144px" height="100px" class="min-w-[144px]" src="/assets/logos/reconLogo.png" alt="">
  </a>

  <!--DESKTOP NAV-->
  <div class="gap-x-[30px] hidden lg:flex flex-1 justify-end">
    <ul class="flex items-center gap-x-[30px] text-1xs">
      {{ nav:main_nav }}
      <li>
        <a href="{{ url }}" class="border-b-2 {{ if is_current || is_parent }}border-lightGreen{{ else }}border-transparent{{ /if }} hover:opacity-50 transition">{{ title }}</a>
      </li>
      {{ /nav:main_nav }}
    </ul>


    <div class="flex items-center">
      <a href="tel:{{ company_details:phone }}" class="button center border flex items-center min-w-max border-lightGreen rounded-full px-[22px] py-[14px]">
        <img class="mr-[10px]" src="/assets/icons/phone.svg" alt="">
        <span>{{ company_details:phone }}</span>
      </a>
    </div>
    
  </div>
  <!--END OF// DESKTOP NAV-->
  
  <!--MOBILE NAV-->
  <div class=" flex justify-end items-center flex-1 lg:hidden " x-data="{navigationOpen: false}">
    <div class="overflow-hidden flex justify-end items-center text-primary container mx-auto">

      <div class="flex justify-end items-center">

        <div
          class="flex lg:py-0 fixed w-full left-0 top-0 bottom-0 overflow-x-auto bg-white z-30 transform transition-all duration-300 origin-top-left"
          @click.away="navigationOpen = false" x-show="navigationOpen" x-transition:enter-start="opacity-0 lg:scale-75"
          x-transition:enter-end="opacity-100 lg:scale-100" x-transition:leave-start="opacity-100 lg:scale-100"
          x-transition:leave-end="opacity-0 lg:scale-75">
          <ul class="flex flex-col gap-y-12 text-primary px-[40px] mt-[130px] w-full overflow-auto">

            <ul class="flex flex-col items-center gap-y-10 text-smallerTitle">
              {{ nav:main_nav }}
              <li>
                <a href="{{ url }}">{{ title }}</a>
              </li>
              {{ /nav:main_nav }}
            </ul>

            <div class="flex w-full justify-center items-center">
              <a href="tel:{{ company_details:phone }}" class="border flex items-center min-w-max border-lightGreen rounded-full px-[22px] py-[14px]">
                <img class="mr-[10px]" src="/assets/icons/phone.svg" alt="">
                <span>{{ company_details:phone }}</span>
              </a>
            </div>

            

          </ul>

          <!--MOBILE MENU CLOSE BUTTON-->
          <button class="flex absolute right-0 z-50 focus:outline-none"
            @click="navigationOpen = !navigationOpen">
            <svg width="100" height="100" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 29.2941L28.6667 18L29.3333 18.7059L18.6667 30L18 29.2941Z" fill="#3BBB81" />
              <path d="M18.6667 18.7059L19.3333 18L30 29.2941L29.3333 30L18.6667 18.7059Z" fill="#3BBB81" />
            </svg>
          </button>
          <!--MOBILE MENU CLOSE BUTTON-->


        </div>

        <!--MOBILE MENU BUTTON-->
        <button class="flex focus:outline-none" @click="navigationOpen = !navigationOpen">
          <svg viewBox="0 0 100 80" width="40" height="40" class="fill-current text-mediumGreen">
            <rect width="100" height="10"></rect>
            <rect y="30" width="100" height="10"></rect>
            <rect y="60" width="100" height="10"></rect>
          </svg>
        </button>
        <!--END OF // MOBILE MENU BUTTON-->

      </div>
    </div>
  </div>
  <!--END OF // MOBILE NAV-->

  
</div>