<div class="flex flex-col leftWrapper rightWrapper my-[40px] md:mt-[80px] md:mb-[20px]">
  <div class="flex mb-4 items-center">
    <span class=" mr-2">{{ slug | deslugify | ucfirst}}</span>
    <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 2px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
  </div>
  <div class="w-full md:w-10/12">
    <h2 class="text-smallerTitle md:text-title md:leading-sixtytwo mb-4">{{ title }}</h2>
    
  </div>
</div>


<div style="background-image: url(/assets/logos/greenBg.jpg); background-repeat:no-repeat; background-size: 100% 203px; background-position:bottom;" class="{{ if image }}h-[calc(100vh-391px)]{{ else }}h-[20px]{{ /if }} flex pb-[80px] relative">


  <div style="background-image: url({{ image }}{{ url }}{{ /image }}); background-repeat:no-repeat; background-size:cover; {{ image }}background-position: {{ focus_css }};"{{ /image }} class="flex w-full {{ if image }}h-[calc(100vh-450px)]{{ else }}h-[20px]{{ /if }}">
    
    <div class="flex-1 h-full"></div>
  </div> 


  
  {{ if image }}
  <div class="hidden md:flex flex-col items-center justify-end w-[120px] ">
      <div class="min-w-max transform rotate-90 w-full awardWinningHeightFixer flex  items-center ">
        <span class="min-w-max mr-2">Award Winning</span>
        <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
      </div>
      <div class="w-[120px] flex flex-1  pb-[80px]"></div>
  </div>
  {{ /if }}

  

</div>





<div class="flex bg-lightGrey md:pb-[80px]">

  <div class="leftWrapper pr-[40px] md:pr-0 bg-white w-full pt-[40px] md:pt-[80px] pb-[40px] md:pb-[120px] min-h-[350px]">
    <div class="w-full md:w-2/3">
      {{ text }}
        {{ if type == "text" }}
          {{ glide:batch width="900" }}
            <div class="text general_text">
                {{ text }}
            </div>
          {{ /glide:batch }}
        {{elseif type == "video"}}
          <div class="video-container">
              <iframe src="{{ video_link | embed_url }}" ></iframe>
          </div>
        {{ /if}}
      {{ /text }}
    </div>
    
  </div>
  
  <div class="hidden md:flex flex-col items-center justify-end w-[120px] bg-lightGrey">
      <div class="min-w-max transform rotate-90 w-full shareHeightFixer flex  items-center ">
        <span class="min-w-max mr-2">Share</span>
        <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
        <a href="https://www.facebook.com/sharer.php?u={{ permalink }}" target="_blank">
          <img src="/assets/icons/facebook.svg" alt="" class="transform -rotate-90 mx-2">
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ permalink }}" target="_blank">
          <img src="/assets/icons/twitter.svg" alt="" class="transform -rotate-90">
        </a>
          
      </div>
      <div class="w-[120px] flex flex-1  pb-[80px]"></div>
  </div>


</div>

<div class="flex py-[20px] md:hidden flex-col items-center justify-center w-full bg-lightGrey">
  <div class="min-w-max w-full shareHeightFixer flex justify-center items-center ">
    <span class="min-w-max mr-2">Share</span>
    <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
    <a href="https://www.facebook.com/sharer.php?u={{ permalink }}" target="_blank">
      <img src="/assets/icons/facebook.svg" alt="" class=" mx-2">
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ permalink }}" target="_blank">
      <img src="/assets/icons/twitter.svg" alt="" class="">
    </a>
      
  </div>
  
</div>

{{ partial:components/newsCaro }}


