<div class="leftWrapper my-[120px]">
  <div class="flex justify-between">
    

    <div class="">
      <h2>Latest News</h2>
      <a href="/updates" class="flex w-min  items-center">
        <p class="mr-2 w-max">View All</p>
        <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
          <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
          <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
          </svg>
      </a>
    </div>

    <!--SWIPER CONTROLS-->
    <div class="flex items-center gap-x-[10px] rightWrapper">
      <div class="hover:opacity-50 transition">
        <svg class="swiper-button-prev" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" fill="white"/>
          <path d="M18.5 25.571H32.5V24.571H18.5V25.571Z" fill="#002816"/>
          <path d="M24.5711 32.071L17.5 25L24.5711 17.9289L25.2782 18.636L18.9142 25L25.2782 31.3639L24.5711 32.071Z" fill="#002816"/>
          <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
          </svg>
      </div>
      <div class="transform rotate-180 hover:opacity-50 transition">
        <svg class="swiper-button-next" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" fill="white"/>
          <path d="M18.5 25.571H32.5V24.571H18.5V25.571Z" fill="#002816"/>
          <path d="M24.5711 32.071L17.5 25L24.5711 17.9289L25.2782 18.636L18.9142 25L25.2782 31.3639L24.5711 32.071Z" fill="#002816"/>
          <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
          </svg>
      </div>
    </div>

    
  </div>

  <!--CAROUSEL CONTENT-->
  <div class="container mt-[30px]">
    <div class="swiper-container">
      <div class="swiper-wrapper ">
    
        {{ collection:news }}
          {{ partial:components/newsIndexCard swiper="true" }}
        {{ /collection:news }}


      </div>
    </div>
  </div>




</div>


<script>
  const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    loop: true,
  
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerView: 3.5,
    centeredSlides: false,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>