<a href="{{ url }}" class="{{if swiper }}swiper-slide{{/if}} h-[399px] max-w-full md:max-w-[412px] group transition {{ news_type }} {{ if !image }}bg-darkGreen hover:bg-lightGreen{{ /if }}">
  {{ if image }}
  <div
    style="background-image: url({{ image }}{{ glide:url width='330' height='200' format='webp'fit="crop_focal" }}{{ /image }}); background-repeat:no-repeat; background-position:center; background-size:cover"
    class=" h-1/2">
  </div>
  {{ /if }}
  <div class="h-1/2 {{ if !image }} text-white{{ else }}bg-lightGrey group-hover:bg-lightGreen{{ /if }} transition flex flex-col p-[40px]">
    <div class="h-4">
      <small class="text-lightGreen group-hover:text-white transition text-2xs">{{ date }}</small>
    </div>
    <div class="flex items-center {{ if image }}flex-1 mt-[10px]{{ else }} mt-[15px]{{ /if }}">
      <h5 class="">{{ title }}</h5>
    </div>
  </div>
</a>