<div
  class="leftWrapper rightWrapper flex flex-col  {{ if flip_image_and_text }}lg:flex-row-reverse{{ else }}lg:flex-row{{ /if }} justify-center my-[80px]">
  {{ if image }}
  <div
    style="background-image: url({{ image }}{{ glide:url width='622' height='476' format='webp' }}{{ /image }}); background-repeat: no-repeat; background-size: cover; background-position:center;"
    class="w-full lg:w-1/2 min-h-[276px] lg:min-h-[476px] lg:max-w-[648px] relative">
    <div style="background-image: url('/assets/logos/greenBg.jpg'); background-size: 300px 40px;"
      class="absolute z-20 w-[30px] h-1/2 right-0 top-1/4"></div>
  </div>
  {{ /if }}

  
  <div class="textAndImageText w-full  flex justify-center flex-col 
  {{ if !image }} lg:w-full {{ else }} lg:w-1/2 {{ /if }}
  {{ if image }}
    lg:max-w-[648px]
  {{ /if }} ">

  <div class="flex flex-col">
    <div
    class="w-full p-[80px] h-full bg-darkGreen flex flex-col justify-center  relative">
    <div class="flex mb-4 items-center">

      <span class="mr-2 text-white">{{if small_title}}{{small_title}}{{else}}{{title}}{{/if}}</span>

      <span
        style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 2px; background-repeat: no-repeat;"
        class="w-[60px]  h-[1px]">       </span>

      <!--FORM ERROR MSG-->
      <div class="pleaseCheckMsg w-full hidden absolute bottom-0 left-0 text-center">
        <small class="text-red-500">*Please check all fields are filled out and you have
          completed the Captcha below.</small>
      </div>
      <!--FORM ERROR MSG-->

    </div>

    <h4 class="text-white text-title getInTouchMsg">{{if enquire_title}}{{enquire_title}}{{else}}Enquire Now{{/if}}</h4>

    <!--FORM THANK YOU MSG-->
    <div class="md:h-[calc(100vh-420px)] thankYouMsg hidden justify-center items-center">
      <h4 class=" text-white text-center">Thank you for your enquiry. <br> We'll get back to you shortly</h4>
    </div>
    <!--FORM THANK YOU MSG-->


    <!--LOADING GIF-->
    <div class="md:h-[calc(100vh-420px)] loadingGif hidden items-center justify-center text-white">
      <img class="h-[25px] w-[25px]" src="/assets/icons/loadingGif.gif" alt="">
    </div>
    <!--LOADING GIF-->


    {{ form:product_enquiry id="product_enquiry" }}
    <div class="contactForm flex flex-col items-stretch h-full md:h-[calc(100vh-420px)] text-white">

      <div class="">

        <div class="flex gap-x-[20px] ">
            <input name="name" required type="text" placeholder="* Name"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
          </div>

        {{if options_prices}}
        <div class="flex gap-x-[20px]">
            <select name="option" class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
              <option value="" selected>Select Option:</option>
              {{options_prices}}
              <option value="{{option_title}} - {{price}}">{{option_title}} - {{price}}</option>
              {{/options_prices}} 
            </select>
        </div>
        {{/if}}

        <div class="flex gap-x-[20px] ">
            <input name="company" required type="text" placeholder="Company"
              class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
          </div>

        <div class="flex gap-x-[20px]">
          <input name="phone" type="text" placeholder="Phone"
            class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
          <input name="email" required type="email" placeholder="* Email"
            class="w-full bg-transparent border-b border-opacity-30 p-[20px]">
        </div>



      </div>

      <div class="flex-1 lg:h-2/5">
        <textarea name="message" placeholder="Message"
          class="w-full h-full bg-transparent border-b border-opacity-30 p-[20px]"></textarea>
      </div>

      <div class="flex flex-col md:flex-row items-center justify-between mt-8 "> 

        <div class="mb-2 md:mb-0">{{ captcha }}</div>

        <button class="flex flex-col items-end mt-[10px]">
          <div class="flex justify-end items-center mb-[8px]">
            <p class="mr-2">Send</p>
            <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M60 24.429H0V25.429H60V24.429Z" fill="#FFF" />
              <path
                d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z"
                fill="#FFF" />
              <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E" />
            </svg>
          </div>
        </button>

      </div>

    </div>
    {{ /form:product_enquiry }}

  </div>
  </div>
 
</div>
</div>

<script type="text/javascript">

    /*AJAX FORM SUBMISSION (FORM MUST BE GIVEN AN ID)*/
    $(function () {
      var form = $('#product_enquiry');
  
      $(form).submit(function (event) {
        event.preventDefault();
  
        var formData = $(form).serialize();
  
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        }).done(function (response) {
          console.log('Form submitted!');
  
          $(".contactForm").addClass('hidden');
          $(".getInTouchMsg").addClass('hidden');
          $(".loadingGif").addClass('flex').removeClass('hidden');
          $(".pleaseCheckMsg").addClass('hidden').removeClass('block');
  
  
          setTimeout(function () {
            $('.thankYouMsg').removeClass('hidden').addClass('flex');
            $(".loadingGif").removeClass('flex').addClass('hidden');
  
          }, 2000);
  
  
        }).fail(function (data) {
          console.log('Form NOT submitted!');
          $(".pleaseCheckMsg").addClass('block').removeClass('hidden');
        });
      });
    });
    /*END OF // AJAX FORM SUBMISSION*/
  
  
  </script>