<div class="flex flex-col leftWrapper rightWrapper my-[40px] md:my-[80px]">
  <div class="flex mb-4 items-center">
    <span class=" mr-2">{{ slug | deslugify | ucfirst }}</span>
    <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 2px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
  </div>
  <div class="w-full md:w-10/12">
    <h2 class="text-smallerTitle md:text-title md:leading-sixtytwo mb-4">{{ title }}</h2>
    <p class="text-1xs leading-thirtyone">{{ text }}</p>
  </div>
</div>


<div style="background-image: url(/assets/logos/greenBg.jpg); background-repeat:no-repeat; background-size: 100% 50%; background-position:bottom;" class="h-[calc(100vh-450px)] min-h-[580px] flex pb-[80px] relative">

  <div style="background-image: url({{ background_image }}{{ glide:url width='1409' height='445' format='webp' }}{{ /background_image }}); background-repeat:no-repeat; background-size:cover; {{ background_image }}background-position: {{ focus_css }};"{{ /background_image }}" class="flex w-full h-[calc(100vh-520px)] min-h-[500px]">
    
    <div class="flex-1 h-full"></div>
  </div>
  
  <div class="hidden md:flex flex-col items-center justify-end w-[120px] ">
      <div class="min-w-max transform rotate-90 w-full awardWinningHeightFixer flex  items-center ">
        <span class="min-w-max mr-2">Award Winning</span>
        <span style="background-image: url(/assets/logos/greenBg.jpg); background-size: 100% 1px; background-repeat: no-repeat;" class="w-[60px]  h-[1px]">       </span>
      </div>
      <div class="w-[120px] flex flex-1  pb-[80px]"></div>
  </div>

  

</div>