<div
  class="leftWrapper rightWrapper flex flex-col  {{ if flip_image_and_text }}lg:flex-row-reverse{{ else }}lg:flex-row{{ /if }} justify-center my-[80px]">
  {{ if image }}
  <div
    style="background-image: url({{ image }}{{ glide:url width='622' height='476' format='webp' }}{{ /image }}); background-repeat: no-repeat; background-size: cover; background-position:center;"
    class="w-full lg:w-1/2 min-h-[276px] lg:min-h-[476px] lg:max-w-[648px] relative">
    <div style="background-image: url('/assets/logos/greenBg.jpg'); background-size: 300px 40px;"
      class="absolute z-20 w-[30px] h-1/2 right-0 top-1/4"></div>
  </div>
  {{ /if }}

  
  <div class="textAndImageText w-full  flex justify-center flex-col 
  {{ if !image }} lg:w-full {{ else }} lg:w-1/2 {{ /if }}
  
  {{ if image }}
  {{ if flip_image_and_text }} lg:pr-[120px] {{ else }} lg:pl-[120px]  {{ /if }} 
  py-[40px] 
  {{ /if }}

  
  {{ if image }}lg:max-w-[648px]{{ /if }} ">
  <div class="flex flex-col">
    <h5 class="font-semibold text-medTitle mb-[20px]">{{ title }}</h5>
    <div class="text-list">
      {{ text }}
        {{ if type == "text" }}
          {{ text }}
        {{elseif type == "table"}}
        <table class="w-full bg-lightGrey  text-left mb-7">
          {{ table }}
            {{ if first && first_row_is_header }}
              <thead class="bg-darkGreen text-white text-left ">
                <tr>
                  {{ cells }}
                    <th class="pt-5 px-5">{{ value|markdown }}</th>
                  {{ /cells }}
                </tr>
              </thead>
              <tbody>
            {{ /if }}
            {{ if !first && first_row_is_header || !first_row_is_header }}
              {{ if first }}
                <tbody>
              {{ /if }}
                <tr>
                  {{ cells }}
                    <td class="pt-5 px-5 border-b border-b-white">{{ value|markdown }}</td>
                  {{ /cells }}
                </tr>
              {{ if last }}
                </tbody>
              {{ /if }}
            {{ /if }}
          {{ /table }}
        </table>
        {{ /if}}
      {{ /text }}
    </div>
  </div>

  {{ if button_link }}
  <a href="{{ button_link }}" class="flex items-center mt-5">
    <span class="mr-2">{{ button_text }}</span>
    <svg width="84" height="50" viewBox="0 0 84 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M60 24.429H0V25.429H60V24.429Z" fill="#002816"/>
      <path d="M53.9289 17.929L61 25L53.9289 32.0711L53.2218 31.364L59.5858 25L53.2218 18.6361L53.9289 17.929Z" fill="#002816"/>
      <rect x="34.5" y="0.5" width="49" height="49" rx="24.5" stroke="#43CD8E"/>
      </svg>
  </a>
  {{/if}}
 
</div>
</div>