<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ company_details:company_name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

    {{ captcha:head }}


    <!--FONTS-->
    <link rel="stylesheet" href="https://use.typekit.net/ztk2zqq.css">

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--ALPINE JS ***V3***-->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!--SWIPER-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
</head>

<body class="">
    <div class="">
        {{ template_content }}
    </div>
    <script src="{{ mix src='/js/site.js' }}"></script>
</body>

</html>