/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

/* This is all you. */

.text blockquote {
	margin-bottom: 1.75rem;
}

.text blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 248, 239, var(--tw-bg-opacity));
}

.text blockquote {
	padding: 1.25rem;
}

.text blockquote {
	padding-bottom: 0px;
}

.text blockquote p {
	padding-bottom: 1.25rem;
}

.text p {
	padding-bottom: 1.75rem;
}

.text img {
	margin-bottom: 1.75rem;
}

.text-list p {
	padding-bottom: 1.25rem;
}

.text-list ul {
	margin-left: 1.25rem;
}

.text-list ul {
	list-style-type: disc;
}

.text-list ul p {
	padding-bottom: 0px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    margin-bottom: 28px
}

.video-container.paused-state .play {
            display: flex;
        }

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
}

.container {
	width: 100%;
}

@media (min-width: 640px) {

	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {

	.container {
		max-width: 768px;
	}
}

@media (min-width: 967px) {

	.container {
		max-width: 967px;
	}
}

@media (min-width: 1024px) {

	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1065px) {

	.container {
		max-width: 1065px;
	}
}

@media (min-width: 1280px) {

	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1327px) {

	.container {
		max-width: 1327px;
	}
}

@media (min-width: 1536px) {

	.container {
		max-width: 1536px;
	}
}

@media (min-width: 1600px) {

	.container {
		max-width: 1600px;
	}
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.-top-1\/2 {
	top: -50%;
}

.right-0 {
	right: 0px;
}

.bottom-0 {
	bottom: 0px;
}

.left-0 {
	left: 0px;
}

.top-0 {
	top: 0px;
}

.top-1\/4 {
	top: 25%;
}

.z-50 {
	z-index: 50;
}

.z-30 {
	z-index: 30;
}

.z-20 {
	z-index: 20;
}

.my-\[80px\] {
	margin-top: 80px;
	margin-bottom: 80px;
}

.my-\[120px\] {
	margin-top: 120px;
	margin-bottom: 120px;
}

.mx-\[20px\] {
	margin-left: 20px;
	margin-right: 20px;
}

.my-\[10px\] {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-\[40px\] {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.my-\[30px\] {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mb-\[10px\] {
	margin-bottom: 10px;
}

.mt-\[10px\] {
	margin-top: 10px;
}

.mr-2 {
	margin-right: 0.5rem;
}

.mt-\[30px\] {
	margin-top: 30px;
}

.mb-\[20px\] {
	margin-bottom: 20px;
}

.mt-4 {
	margin-top: 1rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mt-8 {
	margin-top: 2rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-\[8px\] {
	margin-bottom: 8px;
}

.mt-\[20px\] {
	margin-top: 20px;
}

.ml-4 {
	margin-left: 1rem;
}

.mt-\[40px\] {
	margin-top: 40px;
}

.mr-\[10px\] {
	margin-right: 10px;
}

.mt-\[80px\] {
	margin-top: 80px;
}

.mb-\[60px\] {
	margin-bottom: 60px;
}

.ml-2 {
	margin-left: 0.5rem;
}

.mb-\[30px\] {
	margin-bottom: 30px;
}

.ml-\[30px\] {
	margin-left: 30px;
}

.mt-\[130px\] {
	margin-top: 130px;
}

.ml-\[5px\] {
	margin-left: 5px;
}

.mt-\[15px\] {
	margin-top: 15px;
}

.mb-7 {
	margin-bottom: 1.75rem;
}

.mt-5 {
	margin-top: 1.25rem;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.table {
	display: table;
}

.grid {
	display: grid;
}

.hidden {
	display: none;
}

.h-3\/6 {
	height: 50%;
}

.h-\[188px\] {
	height: 188px;
}

.h-\[1px\] {
	height: 1px;
}

.h-full {
	height: 100%;
}

.h-\[25px\] {
	height: 25px;
}

.h-1\/2 {
	height: 50%;
}

.h-\[80px\] {
	height: 80px;
}

.h-\[calc\(100vh-120px\)\] {
	height: calc(100vh - 120px);
}

.h-\[calc\(100vh-200px\)\] {
	height: calc(100vh - 200px);
}

.h-\[200px\] {
	height: 200px;
}

.h-\[50px\] {
	height: 50px;
}

.h-\[399px\] {
	height: 399px;
}

.h-4 {
	height: 1rem;
}

.h-\[calc\(100vh-450px\)\] {
	height: calc(100vh - 450px);
}

.h-\[calc\(100vh-520px\)\] {
	height: calc(100vh - 520px);
}

.max-h-\[124px\] {
	max-height: 124px;
}

.max-h-\[130px\] {
	max-height: 130px;
}

.min-h-\[130px\] {
	min-height: 130px;
}

.min-h-\[680px\] {
	min-height: 680px;
}

.min-h-\[600px\] {
	min-height: 600px;
}

.min-h-\[350px\] {
	min-height: 350px;
}

.min-h-\[276px\] {
	min-height: 276px;
}

.min-h-\[580px\] {
	min-height: 580px;
}

.min-h-\[500px\] {
	min-height: 500px;
}

.w-full {
	width: 100%;
}

.w-\[188px\] {
	width: 188px;
}

.w-min {
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}

.w-max {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.w-\[120px\] {
	width: 120px;
}

.w-\[60px\] {
	width: 60px;
}

.w-\[25px\] {
	width: 25px;
}

.w-10\/12 {
	width: 83.333333%;
}

.w-4\/12 {
	width: 33.333333%;
}

.w-screen {
	width: 100vw;
}

.w-5\/12 {
	width: 41.666667%;
}

.w-\[50px\] {
	width: 50px;
}

.w-\[30px\] {
	width: 30px;
}

.min-w-max {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}

.min-w-\[130px\] {
	min-width: 130px;
}

.min-w-\[180px\] {
	min-width: 180px;
}

.min-w-\[144px\] {
	min-width: 144px;
}

.max-w-\[548px\] {
	max-width: 548px;
}

.max-w-\[182px\] {
	max-width: 182px;
}

.max-w-\[130px\] {
	max-width: 130px;
}

.max-w-\[697px\] {
	max-width: 697px;
}

.max-w-full {
	max-width: 100%;
}

.flex-1 {
	flex: 1 1 0%;
}

.origin-top-left {
	transform-origin: top left;
}

.rotate-90 {
	--tw-rotate: 90deg;
	transform: var(--tw-transform);
}

.rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}

.-rotate-90 {
	--tw-rotate: -90deg;
	transform: var(--tw-transform);
}

.transform {
	transform: var(--tw-transform);
}

.cursor-pointer {
	cursor: pointer;
}

.list-none {
	list-style-type: none;
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
	flex-direction: column;
}

.flex-col-reverse {
	flex-direction: column-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-stretch {
	align-items: stretch;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.gap-\[30px\] {
	grid-gap: 30px;
	gap: 30px;
}

.gap-x-\[40px\] {
	grid-column-gap: 40px;
	-moz-column-gap: 40px;
	     column-gap: 40px;
}

.gap-x-\[20px\] {
	grid-column-gap: 20px;
	-moz-column-gap: 20px;
	     column-gap: 20px;
}

.gap-y-\[10px\] {
	grid-row-gap: 10px;
	row-gap: 10px;
}

.gap-y-\[20px\] {
	grid-row-gap: 20px;
	row-gap: 20px;
}

.gap-y-\[5px\] {
	grid-row-gap: 5px;
	row-gap: 5px;
}

.gap-x-\[30px\] {
	grid-column-gap: 30px;
	-moz-column-gap: 30px;
	     column-gap: 30px;
}

.gap-y-12 {
	grid-row-gap: 3rem;
	row-gap: 3rem;
}

.gap-y-10 {
	grid-row-gap: 2.5rem;
	row-gap: 2.5rem;
}

.gap-x-\[10px\] {
	grid-column-gap: 10px;
	-moz-column-gap: 10px;
	     column-gap: 10px;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}

.rounded-full {
	border-radius: 9999px;
}

.border {
	border-width: 1px;
}

.border-2 {
	border-width: 2px;
}

.border-b-2 {
	border-bottom-width: 2px;
}

.border-b {
	border-bottom-width: 1px;
}

.border-lightGreen {
	--tw-border-opacity: 1;
	border-color: rgba(67, 205, 142, var(--tw-border-opacity));
}

.border-transparent {
	border-color: transparent;
}

.border-lightGreen\/\[0\.1\] {
	border-color: rgba(67, 205, 142, 0.1);
}

.border-b-white {
	--tw-border-opacity: 1;
	border-bottom-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-opacity-30 {
	--tw-border-opacity: 0.3;
}

.border-opacity-100 {
	--tw-border-opacity: 1;
}

.border-opacity-0 {
	--tw-border-opacity: 0;
}

.bg-darkGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 40, 22, var(--tw-bg-opacity));
}

.bg-lightGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(67, 205, 142, var(--tw-bg-opacity));
}

.bg-lightGrey {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 241, 241, var(--tw-bg-opacity));
}

.bg-transparent {
	background-color: transparent;
}

.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-fadedGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 248, 239, var(--tw-bg-opacity));
}

.bg-mediumGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(59, 187, 129, var(--tw-bg-opacity));
}

.bg-anotherGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(29, 79, 56, var(--tw-bg-opacity));
}

.bg-opacity-25 {
	--tw-bg-opacity: 0.25;
}

.fill-current {
	fill: currentColor;
}

.object-contain {
	-o-object-fit: contain;
	   object-fit: contain;
}

.p-\[50px\] {
	padding: 50px;
}

.p-\[20px\] {
	padding: 20px;
}

.p-\[10px\] {
	padding: 10px;
}

.p-\[40px\] {
	padding: 40px;
}

.p-\[80px\] {
	padding: 80px;
}

.py-\[40px\] {
	padding-top: 40px;
	padding-bottom: 40px;
}

.py-\[30px\] {
	padding-top: 30px;
	padding-bottom: 30px;
}

.py-\[80px\] {
	padding-top: 80px;
	padding-bottom: 80px;
}

.px-\[40px\] {
	padding-left: 40px;
	padding-right: 40px;
}

.py-\[20px\] {
	padding-top: 20px;
	padding-bottom: 20px;
}

.px-\[22px\] {
	padding-left: 22px;
	padding-right: 22px;
}

.py-\[14px\] {
	padding-top: 14px;
	padding-bottom: 14px;
}

.px-\[4px\] {
	padding-left: 4px;
	padding-right: 4px;
}

.px-\[15px\] {
	padding-left: 15px;
	padding-right: 15px;
}

.py-\[5px\] {
	padding-top: 5px;
	padding-bottom: 5px;
}

.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.pb-\[30px\] {
	padding-bottom: 30px;
}

.pb-\[80px\] {
	padding-bottom: 80px;
}

.pr-\[40px\] {
	padding-right: 40px;
}

.pl-\[40px\] {
	padding-left: 40px;
}

.pb-\[20px\] {
	padding-bottom: 20px;
}

.pt-\[40px\] {
	padding-top: 40px;
}

.pb-\[40px\] {
	padding-bottom: 40px;
}

.pt-5 {
	padding-top: 1.25rem;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-medTitle {
	font-size: 2.25rem;
}

.text-smallerTitle {
	font-size: 1.625rem;
}

.text-1xs {
	font-size: 1rem;
}

.text-title {
	font-size: 3.125rem;
}

.text-3xs {
	font-size: 0.75rem;
}

.text-subtitle {
	font-size: 1.125rem;
}

.text-2xs {
	font-size: 0.875rem;
}

.font-semibold {
	font-weight: 600;
}

.font-normal {
	font-weight: 400;
}

.leading-thirtyone {
	line-height: 1.969rem;
}

.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-darkGreen {
	--tw-text-opacity: 1;
	color: rgba(0, 40, 22, var(--tw-text-opacity));
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.text-greenText {
	--tw-text-opacity: 1;
	color: rgba(47, 160, 109, var(--tw-text-opacity));
}

.text-mediumGreen {
	--tw-text-opacity: 1;
	color: rgba(59, 187, 129, var(--tw-text-opacity));
}

.text-lightGreen {
	--tw-text-opacity: 1;
	color: rgba(67, 205, 142, var(--tw-text-opacity));
}

.opacity-0 {
	opacity: 0;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-100 {
	opacity: 1;
}

.mix-blend-hard-light {
	mix-blend-mode: hard-light;
}

.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.duration-300 {
	transition-duration: 300ms;
}

/* GENERAL */

html, body {
	overflow-x: hidden;
}

* {
	font-family: acumin-pro, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: libre-franklin, sans-serif !important;
    font-weight: 600;
}

h1 {
	font-size: 3.125rem;
	font-weight: 600;
	line-height: 1;
}

@media (min-width: 768px) {

	h1 {
		font-size: 5rem;
	}

	h1 {
		line-height: 5rem;
	}

	h1 {
		letter-spacing: -2px;
	}
}

h2 {
	font-size: 3.125rem;
	font-weight: 600;
}

.rightWrapper {
    padding-right: 40px
}

@media only screen and (min-width: 768px) {

.rightWrapper {
        padding-right: 120px
}
    }

.leftWrapper {
    padding-left: 40px
}

@media only screen and (min-width: 768px) {

.leftWrapper {
        padding-left: 120px
}
    }

.transition {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*BUTTON BORDER TRANSITION*/

.button {
    background: none;
    border: solid 1px #43CD8E;
    box-sizing: border-box;

    transition: all 0.3s;

    border-radius: 9999px
}

.button:hover {
      border: solid 1px transparent;
      transition: all 0.3s;
    }

.button {

    font-size: inherit;
    font-weight: 700;

    position: relative;
    vertical-align: middle
}

.button::before,
    .button::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }

.center {

    transition: all 0.3s
}

.center::before,
  .center::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; 
    transition: all 0.3s;
  }

.center::before {
    border-top: 1px solid #43CD8E;
    border-bottom: 1px solid #43CD8E;
    transform: scale3d(0,1,1); 
    transition: all 0.3s;

  }

.center::after {
    border-left: 1px solid #43CD8E;
    border-right: 1px solid #43CD8E;
    transform: scale3d(1,0,1); 
    transition: all 0.3s;

  }

.center:hover::before,
  .center:hover::after {
    transform: scale3d(1,1,1); 
    transition: transform 0.3s;
  }

/* HERO BANNER */

.awardWinningHeightFixer {
    height: calc(100% - 232px);
}

.shareHeightFixer {
    height: calc(100% - 32px);
}

/* SWIPER CAROUSEL CONTROLS*/

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    width: unset !important;
    height: unset !important;
    margin: unset !important;
}

.swiper-slide {
    height: 399px !important;
    width: 385px !important;
}

/*JOB CARD*/

.jobCard h6 {
    margin-bottom: 10px;
}

.jobList p {
        color: #002816
    }

.jobList p {
	margin-bottom: 20px;
}

.jobList p a{
            color: #2fa06d;
            text-decoration: underline;
        }

.jobList ul {
	margin-left: 20px;
}

.jobList ul {
	margin-bottom: 20px;
}

.jobList ul {
	display: flex;
}

.jobList ul {
	flex-direction: column;
}

.jobList ul {
	grid-row-gap: 10px;
	row-gap: 10px;
}

.jobList ul li {
        list-style-type: circle;
        color: #2fa06d;
    }

.jobList ul li p {
            color: #002816;
        }

.jobList ul li p {
	margin-bottom: 0px;
}

.contactForm input::-moz-placeholder {
    color: white;
}

.contactForm input:-ms-input-placeholder {
    color: white;
}

.contactForm input::placeholder {
    color: white;
}

.contactForm textarea::-moz-placeholder {
    color: white;
}

.contactForm textarea:-ms-input-placeholder {
    color: white;
}

.contactForm textarea::placeholder {
    color: white;
}

.contactForm input,
select,
textarea {
    color: white;
    resize: none;
}

.contactForm input[focus-within], select[focus-within], textarea[focus-within] {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.contactForm input:focus-within, select:focus-within, textarea:focus-within {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

/*TEXT AND IMAGE*/

.textAndImageText img {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    max-width: 132px;
    max-height: 74px;
}

.general_text ul {
	margin-left: 20px;
}

.general_text ul {
	display: flex;
}

.general_text ul {
	flex-direction: column;
}

.general_text ul {
	grid-row-gap: 10px;
	row-gap: 10px;
}

.general_text ul {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.general_text ul li {
            list-style-type: circle;
            color: #2fa06d;
        }

.general_text ul li p {
                color: #002816;
            }

.hover\:border-darkGreen:hover {
	--tw-border-opacity: 1;
	border-color: rgba(0, 40, 22, var(--tw-border-opacity));
}

.hover\:border-white:hover {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.hover\:border-anotherGreen:hover {
	--tw-border-opacity: 1;
	border-color: rgba(29, 79, 56, var(--tw-border-opacity));
}

.hover\:border-lightGreen:hover {
	--tw-border-opacity: 1;
	border-color: rgba(67, 205, 142, var(--tw-border-opacity));
}

.hover\:bg-white:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:bg-lightGreen:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(67, 205, 142, var(--tw-bg-opacity));
}

.hover\:text-lightGreen:hover {
	--tw-text-opacity: 1;
	color: rgba(67, 205, 142, var(--tw-text-opacity));
}

.hover\:text-pink-500:hover {
	--tw-text-opacity: 1;
	color: rgba(236, 72, 153, var(--tw-text-opacity));
}

.hover\:opacity-100:hover {
	opacity: 1;
}

.hover\:opacity-50:hover {
	opacity: 0.5;
}

.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.group:hover .group-hover\:ml-4 {
	margin-left: 1rem;
}

.group:hover .group-hover\:ml-2 {
	margin-left: 0.5rem;
}

.group:hover .group-hover\:bg-lightGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(67, 205, 142, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-lightGreen {
	--tw-text-opacity: 1;
	color: rgba(67, 205, 142, var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100 {
	opacity: 1;
}

@media (min-width: 640px) {

	.sm\:w-20 {
		width: 5rem;
	}

	.sm\:flex-row {
		flex-direction: row;
	}
}

@media (min-width: 768px) {

	.md\:my-\[80px\] {
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.md\:mb-0 {
		margin-bottom: 0px;
	}

	.md\:ml-\[40px\] {
		margin-left: 40px;
	}

	.md\:mb-\[10px\] {
		margin-bottom: 10px;
	}

	.md\:mt-0 {
		margin-top: 0px;
	}

	.md\:ml-\[30px\] {
		margin-left: 30px;
	}

	.md\:ml-4 {
		margin-left: 1rem;
	}

	.md\:mt-\[80px\] {
		margin-top: 80px;
	}

	.md\:mb-\[20px\] {
		margin-bottom: 20px;
	}

	.md\:flex {
		display: flex;
	}

	.md\:hidden {
		display: none;
	}

	.md\:h-\[calc\(100vh-420px\)\] {
		height: calc(100vh - 420px);
	}

	.md\:h-\[120px\] {
		height: 120px;
	}

	.md\:w-1\/2 {
		width: 50%;
	}

	.md\:w-7\/12 {
		width: 58.333333%;
	}

	.md\:w-2\/3 {
		width: 66.666667%;
	}

	.md\:w-10\/12 {
		width: 83.333333%;
	}

	.md\:max-w-\[412px\] {
		max-width: 412px;
	}

	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:items-end {
		align-items: flex-end;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:items-stretch {
		align-items: stretch;
	}

	.md\:justify-end {
		justify-content: flex-end;
	}

	.md\:justify-center {
		justify-content: center;
	}

	.md\:p-\[60px\] {
		padding: 60px;
	}

	.md\:py-\[80px\] {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.md\:pr-0 {
		padding-right: 0px;
	}

	.md\:pl-\[120px\] {
		padding-left: 120px;
	}

	.md\:pb-\[80px\] {
		padding-bottom: 80px;
	}

	.md\:pt-\[80px\] {
		padding-top: 80px;
	}

	.md\:pb-\[120px\] {
		padding-bottom: 120px;
	}

	.md\:text-left {
		text-align: left;
	}

	.md\:text-title {
		font-size: 3.125rem;
	}

	.md\:leading-sixtytwo {
		line-height: 3.906rem;
	}
}

@media (min-width: 1024px) {

	.lg\:mb-0 {
		margin-bottom: 0px;
	}

	.lg\:ml-\[40px\] {
		margin-left: 40px;
	}

	.lg\:mb-\[48px\] {
		margin-bottom: 48px;
	}

	.lg\:block {
		display: block;
	}

	.lg\:flex {
		display: flex;
	}

	.lg\:hidden {
		display: none;
	}

	.lg\:h-\[calc\(100vh-120px\)\] {
		height: calc(100vh - 120px);
	}

	.lg\:h-\[calc\(100vh-80px-120px\)\] {
		height: calc(100vh - 80px - 120px);
	}

	.lg\:h-2\/5 {
		height: 40%;
	}

	.lg\:min-h-\[476px\] {
		min-height: 476px;
	}

	.lg\:w-1\/2 {
		width: 50%;
	}

	.lg\:w-full {
		width: 100%;
	}

	.lg\:max-w-\[648px\] {
		max-width: 648px;
	}

	.lg\:scale-75 {
		--tw-scale-x: .75;
		--tw-scale-y: .75;
		transform: var(--tw-transform);
	}

	.lg\:scale-100 {
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		transform: var(--tw-transform);
	}

	.lg\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.lg\:items-end {
		align-items: flex-end;
	}

	.lg\:py-0 {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.lg\:py-\[80px\] {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.lg\:px-\[120px\] {
		padding-left: 120px;
		padding-right: 120px;
	}

	.lg\:pr-\[80px\] {
		padding-right: 80px;
	}

	.lg\:pl-\[120px\] {
		padding-left: 120px;
	}

	.lg\:pr-\[120px\] {
		padding-right: 120px;
	}

	.lg\:text-medTitle {
		font-size: 2.25rem;
	}

	.lg\:leading-fortyfive {
		line-height: 2.813rem;
	}
}

@media (min-width: 1280px) {

	.xl\:pl-\[120px\] {
		padding-left: 120px;
	}
}

@media (min-width: 1327px) {

	.navBreak1\:mt-0 {
		margin-top: 0px;
	}

	.navBreak1\:w-1\/2 {
		width: 50%;
	}

	.navBreak1\:flex-row {
		flex-direction: row;
	}

	.navBreak1\:items-end {
		align-items: flex-end;
	}
}
