/* This is all you. */
.text {
    blockquote {
        @apply bg-fadedGreen p-5 pb-0 mb-7;

        p {
            @apply pb-5;
        }
    }

    p {
        @apply pb-7;
    }

    img {
        @apply mb-7;
    }
}

.text-list {
    p {
        @apply pb-5;
    }

    ul {
        @apply list-disc ml-5;

        p {
            @apply pb-0;
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    margin-bottom: 28px;

    &.paused-state {
        .play {
            display: flex;
        }
    }
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
}

