@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* GENERAL */

html,
body {
    @apply overflow-x-hidden;
}

* {
    @apply font-acumin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: libre-franklin, sans-serif !important;
    @apply font-semibold;
}

h1 {
    @apply text-title md:text-largeTitle font-semibold md:tracking-minus1 leading-none md:leading-eighty;
}

h2 {
    @apply text-title font-semibold;
}

.rightWrapper {
    padding-right: 40px;

    @media only screen and (min-width: 768px) {
        padding-right: 120px;
    }
}
.leftWrapper {
    padding-left: 40px;

    @media only screen and (min-width: 768px) {
        padding-left: 120px;
    }
}

.transition {
    @apply transition-all duration-300 ease-in-out;
}

/*BUTTON BORDER TRANSITION*/

.button {
    background: none;
    border: solid 1px #43CD8E;
    box-sizing: border-box;

    transition: all 0.3s;

    @apply rounded-full;

    &:hover {
      border: solid 1px transparent;
      transition: all 0.3s;
    }

    font-size: inherit;
    font-weight: 700;

    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.center {

    transition: all 0.3s;

  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; 
    transition: all 0.3s;
  }

  &::before {
    border-top: 1px solid #43CD8E;
    border-bottom: 1px solid #43CD8E;
    transform: scale3d(0,1,1); 
    transition: all 0.3s;

  }

  &::after {
    border-left: 1px solid #43CD8E;
    border-right: 1px solid #43CD8E;
    transform: scale3d(1,0,1); 
    transition: all 0.3s;

  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1); 
    transition: transform 0.3s;
  }
}




/* HERO BANNER */
.awardWinningHeightFixer {
    height: calc(100% - 232px);
}

.shareHeightFixer {
    height: calc(100% - 32px);
}

/* SWIPER CAROUSEL CONTROLS*/
.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    width: unset !important;
    height: unset !important;
    margin: unset !important;
}

.swiper-slide {
    height: 399px !important;
    width: 385px !important;
}

/*JOB CARD*/
.jobCard h6 {
    margin-bottom: 10px;
}

.jobList{
    p {
        color: #002816;
        @apply mb-[20px];
        a{
            color: #2fa06d;
            text-decoration: underline;
        }
    }
    ul {
    @apply ml-[20px] flex flex-col gap-y-[10px] mb-[20px];
    li {
        list-style-type: circle;
        color: #2fa06d;
    
        p {
            color: #002816;
            @apply mb-0;
        }
    }
}
}

.contactForm input::placeholder {
    color: white;
}
.contactForm textarea::placeholder {
    color: white;
}
.contactForm input,
select,
textarea {
    color: white;
    resize: none;
    @apply focus-within:outline-none;
}

/*TEXT AND IMAGE*/
.textAndImageText img {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    max-width: 132px;
    max-height: 74px;
}

.general_text{
    ul {
        @apply ml-[20px] py-8 flex flex-col gap-y-[10px];
        li {
            list-style-type: circle;
            color: #2fa06d;
        
            p {
                color: #002816;
            }
        }
    }
}