{{ partial:components/nav }}


{{ get_content from="/updates" }}
{{ general_content }}
  {{ if type == 'hero_title_only' }}
  {{ partial:components/heroTitleOnly }}
  {{ /if }}
{{ /general_content }}
{{ /get_content }}


<div class="flex flex-col leftWrapper rightWrapper my-[80px]">

  <div class="w-full ">

    <div class="flex justify-end w-full items-center my-[30px]">
      
      {{ taxonomy:news_type limit="1" scope="news_type" }}
      <a href="/updates"
        class="ml-[5px] border w-max flex items-center min-w-max border-lightGreen rounded-full px-[22px] py-[14px] 
        {{ if page:slug != news_type:slug }} border-transparent {{ else }} border-transparent {{ /if }}">Show All</a>
      {{ /taxonomy:news_type }}


      {{ taxonomy:news_type scope="news_type" }}
      <a href="/updates{{ news_type:url }}"
        class="ml-[5px] border w-max flex items-center min-w-max  rounded-full px-[22px] py-[14px]
        {{ if page:slug == news_type:slug }} border-lightGreen {{ else }} border-transparent {{ /if }}">
        <p>{{ news_type:title | ucfirst }}</p>
      </a>
      {{ /taxonomy:news_type }}

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px]">

      {{ collection:news taxonomy:news_type="{slug}" paginate="3" as="news"}}
      {{ news }}
      {{ partial:components/newsIndexCard }}
      {{ /news }}
      {{ /collection:news }}

    </div>



    <!--PAGINATION-->
    {{ collection:news taxonomy:news_type="{slug}" paginate="3" as="news"}}
    {{ paginate }}
    <div class="flex gap-x-[10px] justify-end w-full items-center my-[30px]">

      {{ links:segments }}

      {{ first }}
      {{ if page == current_page }}
      <li
        class="list-none rounded-full bg-white border-lightGreen transition border-2  group w-[50px] h-[50px] flex items-center justify-center">
        <span class="text-darkGreen">{{ page }}</span>
      </li>
      {{ else }}
      <li
        class=" cursor-pointer list-none rounded-full bg-white border-lightGreen/[0.1] hover:bg-white transition border-2 hover:border-lightGreen group">
        <a class="text-darkGreen w-[50px] h-[50px] flex justify-center items-center rounded-full" href="{{ url }}">{{
          page }}</a>
      </li>
      {{ /if }}
      {{ /first }}



      {{ last }}
      {{ if page == current_page }}
      <li
        class="list-none rounded-full bg-white border-lightGreen hover:bg-white transition border-2 hover:border-lightGreen group w-[50px] h-[50px]">
        <span>{{ page }}</span>
      </li>
      {{ else }}
      <li
        class="list-none rounded-full bg-white border-lightGreen/[0.1] hover:bg-white transition border-2 hover:border-lightGreen group w-[50px] h-[50px]">
        <a class="" href="{{ url }}">{{ page }}</a>
      </li>
      {{ /if }}
      {{ /last }}

      {{ /links:segments }}



      <!--PREVIOUS BUTTON-->
      {{ if prev_page }}
      <a href="{{ prev_page }}"
        class="rounded-full bg-white border-2 border-lightGreen transition w-[50px] h-[50px] flex items-center justify-center">
        <svg class="fill-current text-darkGreen transform rotate-90" width="20" height="20" viewBox="0 0 33 33"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)"
            fill="#002816" />
          <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#002816" />
          <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#002816" />
        </svg>
      </a>
      {{ /if }}
      <!--PREVIOUS BUTTON-->


      <!--NEXT BUTTON-->
      {{ if next_page }}
      <a href="{{ next_page }}"
        class="rounded-full bg-white border-2 border-lightGreen transition w-[50px] h-[50px] flex items-center justify-center">
        <svg class="fill-current text-darkGreen transform -rotate-90" width="20" height="20" viewBox="0 0 33 33"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)"
            fill="#002816" />
          <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#002816" />
          <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#002816" />
        </svg>
      </a>
      {{ /if }}
      <!--NEXT BUTTON-->

    </div>
    {{ /paginate }}
    {{ /collection:news }}



  </div>

</div>

{{ partial:components/footer }}
